@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  overflow-x: hidden;
}

.btn-color:hover {
  @apply bg-gradient-to-r from-orange-400 to-amber-200;
}

.btn-color-small:hover {
  @apply bg-gradient-to-r from-orange-400 to-white text-black;
}
.bg-color {
  @apply bg-gradient-to-l from-orange-400 to-amber-200;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );

  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
